
li{
    color: rgb(251, 255, 0);
    border:double 5px;
    font-size: 90px;
    background-color: black;
    width: 400px;
    height: 150px;
    text-align: center;
text-decoration:underline overline;
}
p{
    font-family: Anta;
    background-color: black;
}
h1 {
  font-family: Anta;
  font-weight: 600;
  font-style: normal;
}

